@import "navBar.css";

.slides-container
{
    text-align: center;
    width: auto;
    height: 390px;
    padding: 2% 1.5% 0.5% 2%;
}
img
{

    width: 50%;
    max-height: 350px;
    margin: 0 2.5% 0 0;
}
p
{
    padding: 0 30% 0;
    align-items: center;
    text-align: justify;
    font: Verdana;
    font-size: large;
}
.radio-spacing
{
    padding: 0.25% 30% 1%;
    align-items: center;
    text-align: justify;
}
input[type="radio"]
{
    margin-right: 3%;
    margin-bottom: 2%;
}
